:root, [data-bs-theme=light] {
  --bs-primary: #cda66b;
  --bs-primary-rgb: 205,166,107;
  --bs-primary-text-emphasis: #52422B;
  --bs-primary-bg-subtle: #F5EDE1;
  --bs-primary-border-subtle: #EBDBC4;
  --bs-link-color: #cda66b;
  --bs-link-color-rgb: 205,166,107;
  --bs-link-hover-color: #cda66b;
  --bs-link-hover-color-rgb: 205,166,107;
  --bs-focus-ring-color: rgb(237,222,202);
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #cda66b;
  --bs-btn-border-color: #cda66b;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #D5B381;
  --bs-btn-hover-border-color: #D2AF7A;
  --bs-btn-focus-shadow-rgb: 31,25,16;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #D7B889;
  --bs-btn-active-border-color: #D2AF7A;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #cda66b;
  --bs-btn-disabled-border-color: #cda66b;
}

.btn-outline-primary {
  --bs-btn-color: #cda66b;
  --bs-btn-border-color: #cda66b;
  --bs-btn-focus-shadow-rgb: 205,166,107;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #cda66b;
  --bs-btn-hover-border-color: #cda66b;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #cda66b;
  --bs-btn-active-border-color: #cda66b;
  --bs-btn-disabled-color: #cda66b;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #cda66b;
}

[data-bs-theme=dark] {
  --bs-link-color: #cda66b;
  --bs-link-color-rgb: 205,166,107;
  --bs-link-hover-color: #eddeca;
  --bs-link-hover-color-rgb: 237,222,202;
  --bs-focus-ring-color: rgb(237,222,202);
}

